<title><%= title %></title>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>
<body>
<div class="form-container">
<h1><%= title %></h1>

<form id="loginForm" action="/account/login" method="post">
    <label for="account_email">Email:</label>
    <input type="email" name="account_email" id="account_email" required>

    <label for="account_password">Password:</label>
    <input type="password" name="account_password" id="account_password" required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

    <button type="submit">Login</button>
</form>
    <p class="register-link">
        No Account? 
        <a title="Register" href="/account/register">Sign-up</a>
    </p>
</div>
</body>
