<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% if(Object.entries(htmlData).length > 0){ %>

<%- htmlData %>
<% } else { %>
<p class="notice">Sorry, Vehicle was not found.</p>
<% } %>
