<% if (title) {%>
<h1><%= title %></h1>
<%} else {res.redirect('/')} %>

<%- messages() %>


<% if (errors) { %>
<ul class="message warning">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>
<!-- Search Form -->
  <form id="inventorySearchForm" action="/inv/search" method="get">
      <input type="text" name="search" placeholder="Search vehicles..." required>
      <button type="submit">Search</button>
  </form>


    <ul class:"addList">
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
    <h2>Manage Inventory</h2>
    <p>Choose a classification to see those inventory items.</p>
    <%- classificationSelect %>
    
    <table id="inventoryDisplay"></table>


    <noscript>JavaScript must be enabled to use this page.</noscript>
    <script src="../../js/inventory"></script>


